
* {
	font-family: 'Amaranth', sans-serif;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        /*background: url(images/beer-machine-alcohol-brewery-159291.jpg) cover no-repeat center center;*/
  }

.jumbotron {
        background: url(../images/breweries2.jpg) center center;
        background-repeat: no-repeat;
  		background-size: cover;
       }

.social{
	list-style-type: none;
	float: center;
	color: black; 
}

#facebook{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	color: black;
	width: 24px;
    height: 24px;
}

#facebook:hover {
	transform: rotate(30deg);
	}

#welcome{
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	color: black;
	text-decoration: underline;
}

#heading{
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: left;
	font-family: 'Amaranth', sans-serif;
	color: white;
	text-decoration: underline;
}


#intro {
	color: green;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: white;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
  }

 #headerFooter {
  background: #f7f7f7;
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: linear;
}

#headerFooter:hover {
  background: tan;
}


  #map {
        margin-top: 100px;
        margin-bottom: 100px;
        display: block;
    	margin-left: auto;
    	margin-right: auto;
        height: 55%;
        width: 55%;
        border: 10px solid grey;
        border-radius: 1%;
  }

  @media (max-width: 500px) {
	#map{
		margin-top: 100px;
        margin-bottom: 100px;
        display: block;
    	margin-left: auto;
    	margin-right: auto;
        height: 50%;
        width: 95%;
        border: 10px solid grey;
        border-radius: 1%;

	}
}


.welcome {
	display: inline-block;
}

#button {
	text-decoration: none;
	font-family: 'Amaranth', sans-serif;
	background-color: #F08080;
	font-size: 20px;
	text-align: center;
	color: #fff;
	padding: 15px 30px;
	border-radius: 60px;
	border:1px solid #1d3c6a;
	margin: 40px 40px 40px 225px;
}

#button:hover {
	background-color: lightblue;
}

#splashHeader {
	display: inline-block;
	margin-left: 200px;
}

#splashJumbo {
	background-color: tan;
}

#bullet {
	text-align: center;
}

#enterBtn {
    color: #fff;
    background-color: #4e4f52;
    border-color: #4e4f52;

}

#enterBtn:hover {
	background: #fff;
	border-color: #fff;
	color: black;
}

#splashWelcome {
	color: #000;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
}

#weather {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.current-weather {
	display: block;
	background-color: tan;
	font-family: 'Amaranth', sans-serif;
	padding: 20px;
}

#brewery{
	text-align: center;
	color: black;
	font-family: 'Amaranth', sans-serif;
}

#loadedBrewery{
	background-color: #e6e6e6; 
	border-color: #adadad; 
	border-radius: 10px; 
	padding: 20px;
	margin-bottom: 150px;
}

@media (max-width: 500px) {
	#loadedBrewery{
	background-color: #e6e6e6; 
	border-color: #adadad; 
	border-radius: 10px; 
	margin: 50px;
	}
}

 #temp, #city, #main{
	color: black;
	font-family: 'Amaranth', sans-serif;

}

#suggestedBrewery{
	margin-top: 20px
}






	





